@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }

  body{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(94,94,245,0.5) 100%);
  }
  .trans-bg-1{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
  }
