@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }
  #about{
    background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
  #work{
    background: rgb(252,70,107);
background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(79,70,252,1) 100%);
  }
  #contact{
    background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }

  .color-white{
    color: white;
  }
