@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }

  body{
    background-image: url('https://i.imgur.com/fpQP07Z.png');
    background-repeat: no-repeat;
  }
  .color-white{
    color: white;
  }
  #about{
    background-image: url('https://i.imgur.com/RtlUnMk.png');
    background-repeat: no-repeat;
  }
  #work{
    background-image: url('https://i.imgur.com/5XUIfW6.png');
    background-repeat: no-repeat;
  }
  #contact{
    background-image: url('https://i.imgur.com/cqntY0t.png');
    background-repeat: no-repeat;
  }
